# Core app
streamlit>=1.37
pandas>=2.2
numpy>=1.26

# Maps & viz
folium>=0.16
streamlit-folium>=0.21
plotly>=5.22
pydeck>=0.9.1

# Speedy CSV / Mac ARM friendly
pyarrow>=16.0.0

# --- Optionnels si tu en as besoin plus tard ---
# scikit-learn>=1.4.0
# geopy>=2.4.0
# python-dateutil>=2.9.0
# tzdata>=2025.1
# pydeck>=0.9.1
